

    <%-include('header')-%>
    
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    


    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                 <h2 class="font-weight-bold text-dark">Login System</h2>
                 <span class="text-dark">Log in for the existing user</span>
            </div>
            <form action="/login" method="POST" class="pt-3" id="login-form">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="form-group password-container">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password...">
                    <i class="fa-solid fa-eye-slash" id="show-password"></i>
                </div>
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
            </form>
        </div>
    </div>

    <script src="js/password.js"></script>
    
    <%-include('footer')-%>
