@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('/image/scattered-forcefields.svg');
    background-size:cover;
    background-repeat: no-repeat; */
}

span {
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}


/* Custom Form login Styles */
.center-div {
    padding-top: 10%;
}

.btn.btn-success {

    padding: .4em 2em;
    margin-top: 2em
}

.btn.btn-success a {

    color: white;
    text-decoration: none;
}

form {
    margin: 0 3em;
}

.form-group {
    padding: 1em;
}

#login .title>span {
    font-size: .8em;
}

/* ************************ */
/* ** Password Show Hide ** */
/* ************************ */
#login-form input[type="password"],
#login-form input[type="text"] {
    width: 100%;
    /* padding: 12px 36px 12px 12px; */
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.fa-eye-slash {
    position: absolute;
    top: 37%;
    right: 8%;
    cursor: pointer;
    color: lightgrey;
}

